.cardOnly{
  display: flex;
}

.deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    /* border: 2px solid white; */
    position: relative;
  }
  

.drawnCardArea{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  /* border: 2px solid white; */
}

.button{
  background: none;
    border: none;
    outline: none;
    /* max-width: 190px; */
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}